/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url('../font/raleway.woff2') format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url('../font/raleway-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



html, body{
margin: 0px;
font-family: 'Raleway', serif;
}
.red{
    background-color: #850101;
    height: 33px;
}
.blue{
    background-color: #010196;
    height: 33px;
}
.green{
    background-color: #005200;
}
.row{
    width: 100%;    
}

div.row > div.col-1, div.row > div.col-2, div.row > div.col-3, div.row > div.col-4, div.row > div.col-5, div.row > div.col-6, div.row > div.col-7, div.row > div.col-8, div.row > div.col-9, div.row > div.col-10, div.row > div.col-11, div.row > div.col-12{
    position: relative;
    min-height: 1px;
    float: left;
    
    /* padding-right: 15px; */
    /* padding-left: 15px; */
} 

div.row > div.col-1{
    width: 8.33%;
}
div.row > div.col-2{
    width: 16.66%;
}
div.row > div.col-3{
    width: 25%;
}
div.row > div.col-4{
    width: 33.33%;
}
div.row > div.col-5{
    width: 41.66%;
}
div.row > div.col-6{
    width: 50%;
}
div.row > div.col-7{
    width: 58.33%;
}
div.row > div.col-8{
    width: 66.66%;
}
div.row > div.col-9{
    width: 75%;
}
div.row > div.col-10{
    width: 83.33%;
}
div.row > div.col-11{
    width: 91.66%;
}
div.row > div.col-12{
    width: 100%;
}

/* MODALS */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */    
    background-color: #fefefe;
    width: 80%; /* Could be more or less, depending on screen size */
    overflow:auto;
}
.modal-body{    
    padding: 20px;
    /* border: 1px solid #888;     */
}
.modal-body > p{
    /* font-size: 1%; */
    color: black;
}
/* The Close Button */
.modal-close {
    color: #FFADAD;
    float: right;
    font-size: 28px;
    padding-right: 20px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #581F27;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn{
    background-color: #90323D;
    border-color: #90323D;
    padding: 0px;
}
.modal-header{
    height: 35px;
    z-index: 10;
    /* width: 80%; */
    background-color: #000000;
}
.modal-img{
    padding-right: 20px;
    padding-bottom: 20px;
    height: 200px;
    float: left;
    display: block;
}
.modal-title{
    font-size: 180%;
    font-weight: bold;
}
.modal-subtitle{
    font-size: 140%;
}
.modla-body-text{
    font-size: 110%;
}


/* Buttons */
button.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 4px;
    font-family: 'raleway'
}

button.btn:active {
    outline: none;
    border: none;
}
button.btn:focus {outline:0;}


button.blue{
    background-color: #016796;
    border-bottom: 2px solid #004C6D;
    border-right: 2px solid #004C6D;
    border-top: 0px;
    border-left: 0px;
}
button.red{
    background-color: #850101;
}


/* pre-load */
/* .no-js #loader { display: none;  } */
/* .js #loader { display: block; position: absolute; left: 100px; top: 0; } */
#preload {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../imgs/loading.gif") center no-repeat #fff;
}
div.slideshow{
    /* display: inline-block;       */
    position: block; 
}

div.slideshow > img.slide{  
      
    position:block;    
    width: 100%;
}

div.slideshow > button{
    cursor: pointer;
    position: absolute;
    height: 100%;
    padding: 16px;
    background-color: rgba(255,255,255);
    border: 0px;
    font-weight: bold;
    width: 50%;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    z-index: 99;
}
div.slideshow > button:focus{
    outline: 0;
}
div.slideshow > button#slide-btn-left{
    left: 0px;

}
div.slideshow > button#slide-btn-right{
    right: 0px;
    /* float: left; */
}  

.opacity-10{opacity: 0.1 !important;}
.opacity-20{opacity: 0.2 !important;}
.opacity-30{opacity: 0.3 !important;}
.opacity-40{opacity: 0.4 !important;}
.opacity-50{opacity: 0.5 !important;}
.opacity-60{opacity: 0.6 !important;}
.opacity-70{opacity: 0.7 !important;}
.opacity-80{opacity: 0.8 !important;}
.opacity-90{opacity: 0.9 !important;}
.width-10{width: 10% !important;}
.width-20{width: 20% !important;}
.width-30{width: 30% !important;}
.width-40{width: 40% !important;}
.width-50{width: 50% !important;}
.width-60{width: 60% !important;}
.width-70{width: 70% !important;}
.width-80{width: 80% !important;}
.width-90{width: 90% !important;}
.width-100{width: 100% !important;}

/* SMALL - SM */
@media screen and (max-width: 779px) {
    .sm {
        visibility: visible;
        display: block;
    }
    .md {
        visibility: hidden;
        display: none;
    }
    .lg {
        visibility: hidden;
        display: none;
    }
    .mobile {
        visibility: visible;
        display: block;
    }
    .desktop {
        visibility: hidden;
        display: none;
    }
    div.row > div.col-sm-1{
        width: 8.33% !important;
    }
    div.row > div.col-sm-2{
        width: 16.66% !important;
    }
    div.row > div.col-sm-3{
        width: 25% !important;
    }
    div.row > div.col-sm-4{
        width: 33.33% !important;
    }
    div.row > div.col-sm-5{
        width: 41.66% !important;
    }
    div.row > div.col-sm-6{
        width: 50% !important;
    }
    div.row > div.col-sm-7{
        width: 58.33% !important;
    }
    div.row > div.col-sm-8{
        width: 66.66% !important;
    }
    div.row > div.col-sm-9{
        width: 75% !important;
    }
    div.row > div.col-sm-10{
        width: 83.33% !important;
    }
    div.row > div.col-sm-11{
        width: 91.66% !important;
    }
    div.row > div.col-sm-12{
        width: 100% !important;
    }
}

/* MEDIUM - MD */
@media screen and (max-width: 999px) and (min-width: 780px) {
    .md {
        visibility: visible;
        display: block;
    }
    .sm {
        visibility: hidden;
        display: none;
    }
    .lg {
        visibility: hidden;
        display: none;
    }
    .mobile {
        visibility: hidden;
        display: none;
    }
    .desktop {
        visibility: visible;
        display: block;
    }
    div.row > div.col-md-1{
        width: 8.33% !important;
    }
    div.row > div.col-md-2{
        width: 16.66% !important;
    }
    div.row > div.col-md-3{
        width: 25% !important;
    }
    div.row > div.col-md-4{
        width: 33.33% !important;
    }
    div.row > div.col-md-5{
        width: 41.66% !important;
    }
    div.row > div.col-md-6{
        width: 50% !important;
    }
    div.row > div.col-md-7{
        width: 58.33% !important;
    }
    div.row > div.col-md-8{
        width: 66.66% !important;
    }
    div.row > div.col-md-9{
        width: 75% !important;
    }
    div.row > div.col-md-10{
        width: 83.33% !important;
    }
    div.row > div.col-md-11{
        width: 91.66% !important;
    }
    div.row > div.col-md-12{
        width: 100% !important;
    }
}

/* LARGE - LG */
@media screen and (min-width: 1000px) {
    .lg {
        visibility: visible;
        display: block;
    }
    .sm {
        visibility: hidden;
        display: none;
    }
    .md {
        visibility: hidden;
        display: none;
    }
    .mobile {
        visibility: hidden;
        display: none;
    }
    .desktop {
        visibility: visible;
        display: block;
    }
    div.row > div.col-lg-1{
        width: 8.33% !important;
    }
    div.row > div.col-lg-2{
        width: 16.66% !important;
    }
    div.row > div.col-lg-3{
        width: 25% !important;
    }
    div.row > div.col-lg-4{
        width: 33.33% !important;
    }
    div.row > div.col-lg-5{
        width: 41.66% !important;
    }
    div.row > div.col-lg-6{
        width: 50% !important; 
    }
    div.row > div.col-lg-7{
        width: 58.33% !important;
    }
    div.row > div.col-lg-8{
        width: 66.66% !important;
    }
    div.row > div.col-lg-9{
        width: 75% !important;
    }
    div.row > div.col-lg-10{
        width: 83.33% !important;
    }
    div.row > div.col-lg-11{
        width: 91.66% !important; 
    }
    div.row > div.col-lg-12{
        width: 100% !important;
    }
}


/* TEXT */

.center{
    text-align: center;
}

/* DROPDOWNS */
div.dropdown-hover {
    position: relative;
    display: inline-block;
}

div.dropdown-hover > div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ECECEC;
    /* min-width: 160px; */
    box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.4);
    /* padding: 12px 16px; */
    z-index: 1;
    text-align: left;
}
div.dropdown-hover > div.dropdown-content ul{
    font-size: 110%;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;    
}
div.dropdown-hover > div.dropdown-content ul > li{
    padding-bottom: 5px;   
    width: 100%;
    border-bottom: 1px solid #8B8B8B;
}
.dropdown-hover:hover div.dropdown-content {
    display: block;
}
/* DROPDOWN BUTTON */
div.dropdown {
    position: relative;
    display: inline-block;
}

div.dropdown > div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ECECEC;
    /* min-width: 160px; */
    box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.4);
    /* padding: 12px 16px; */
    z-index: 1;
    text-align: left;
}
div.dropdown > div.dropdown-content ul{
    font-size: 110%;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;    
}
div.dropdown > div.dropdown-content ul > li{
    padding-bottom: 5px;   
    width: 100%;
    border-bottom: 1px solid #8B8B8B;
}

