
html, body{
    margin: 0px;
}

.row{
    width: 100%;    
}

div.row > div.col-1, div.row > div.col-2, div.row > div.col-3, div.row > div.col-4, div.row > div.col-5, div.row > div.col-6, div.row > div.col-7, div.row > div.col-8, div.row > div.col-9, div.row > div.col-10, div.row > div.col-11, div.row > div.col-12{
    position: relative;
    min-height: 1px;
    float: left;
    
    /* padding-right: 15px; */
    /* padding-left: 15px; */
} 

div.row > div.col-1{
    width: 8.33%;
}
div.row > div.col-2{
    width: 16.66%;
}
div.row > div.col-3{
    width: 25%;
}
div.row > div.col-4{
    width: 33.33%;
}
div.row > div.col-5{
    width: 41.66%;
}
div.row > div.col-6{
    width: 50%;
}
div.row > div.col-7{
    width: 58.33%;
}
div.row > div.col-8{
    width: 66.66%;
}
div.row > div.col-9{
    width: 75%;
}
div.row > div.col-10{
    width: 83.33%;
}
div.row > div.col-11{
    width: 91.66%;
}
div.row > div.col-12{
    width: 100%;
}

/* MODALS */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */    
    background-color: #fefefe;
    width: 80%; /* Could be more or less, depending on screen size */
    overflow:auto;
}
.modal-body{    
    padding: 20px;
    /* border: 1px solid #888;     */
}
.modal-body > p{
    /* font-size: 1%; */
    color: black;
}
/* The Close Button */
.modal-close {
    color: #FFADAD;
    float: right;
    font-size: 28px;
    padding-right: 20px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #581F27;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn{
    background-color: #90323D;
    border-color: #90323D;
    padding: 0px;
}
.modal-header{
    height: 35px;
    z-index: 10;
    /* width: 80%; */
    background-color: #000000;
}
.modal-img{
    padding-right: 20px;
    padding-bottom: 20px;
    height: 200px;
    float: left;
    display: block;
}
.modal-title{
    font-size: 180%;
    font-weight: bold;
}
.modal-subtitle{
    font-size: 140%;
}
.modla-body-text{
    font-size: 110%;
}

/* Buttons */


button.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 4px;
    
}

button.btn:active {
    outline: none;
    border: none;
}
button.btn:focus {outline:0;}


button.blue{
    background-color: #016796;
    border-bottom: 2px solid #004C6D;
    border-right: 2px solid #004C6D;
    border-top: 0px;
    border-left: 0px;
}
button.red{
    background-color: #850101;
}


/* pre-load */
/* .no-js #loader { display: none;  } */
/* .js #loader { display: block; position: absolute; left: 100px; top: 0; } */
#preload {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../imgs/loading.gif") center no-repeat #fff;
}


/* Scroll Down Anim*/
.container {
    width: 24px;
    height: 24px;
    display: block;
    margin: auto;
}
  
.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}
  
.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}
  
.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}
  
.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}
  
.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
  
.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
  
@keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}
  
.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}
  
@keyframes pulse {
    to {
      opacity: 1;
    }
}


/*nav tab stuff*/
.navTab{
    float: left;
    color: rgb(255, 248, 230);
    margin: 0px;
    font-size: 0.85em;
    letter-spacing: 0.35em;
    padding: 15px 16px 15px 20px;
    border-radius: 6px;
    -webkit-transition-duration: 1.2s; /* Safari */
    transition-duration: 1.2s;
}
.navTab:hover{
    background-color: rgba(2, 189, 252, 0.8);
    cursor: pointer;
}
/*for the dropdown tabs*/
.dropdownBtn{
    text-align: center;
    margin: 0px;
    color: rgb(255, 248, 230);
    font-size: 0.85em;
    padding: 10px 2px;
    height: 27.5px;
    letter-spacing: 0.35em;
    background-color: rgba(55,55,55, 0.4);
    border: rgba(122,203,249, 0.6);
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}
.dropdownBtn:hover{
    background-color: rgba(122,203,249, 0.7);
    cursor: pointer;
}

/* simple form stuff*/

form{
    width: 50%;
    padding-left: 24%;
    padding-bottom: 2%;
    clear: both;
}
input{
    width: 100%;
    height: 5%;
    font-size: 1.1em;
}